<h1>Customer Information</h1>
<table class="table table-striped">
    <tbody>
    <tr><label for="firstName">First Name</label>   <span style="padding: 10%;"><b>{{user.firstName}}</b></span></tr>
    <tr><label for="lastName">Last Name</label>   <span style="padding: 10%;"><b>{{user.lastName}}</b></span></tr>
    <tr><label for="username">User Name</label>   <span style="padding: 10%;"><b>{{user.username}}</b></span></tr>
    <tr><label for="userType">Admin User</label>   <span style="padding: 10%;"><b>{{user.userType}}</b></span></tr>
</tbody>
</table>
